/* cart.css */
.cart-container {
  max-width: 800px;
  margin: 0 auto;
  background-color: #ffffff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.cart-container h1 {
  text-align: center;
  color: #00796b;
}

.cart-items {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
}

.cart-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 10px;
}

.cart-item img {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
  margin-bottom: 10px;
}

.item-details {
  text-align: center;
}

.item-details h2 {
  font-size: 18px;
  color: #333;
  margin-bottom: 5px;
}

.item-details p {
  font-size: 14px;
  color: #666;
  margin-bottom: 10px;
}

.cart-item button {
  padding: 8px 15px;
  border: none;
  border-radius: 5px;
  background-color: #00796b;
  color: white;
  font-size: 14px;
  cursor: pointer;
}

.cart-item button:hover {
  background-color: #004d40;
}

.clear-cart,
.buy-now {
  display: inline-flex;
  margin-top: 20px;
  margin-left: 50px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

.clear-cart {
  background-color: #d32f2f;
  color: white;
  margin-top: 50px;
}

.clear-cart:hover {
  background-color: #b71c1c;
}

.buy-now {
  background-color: #4caf50;
  color: white;
}

.buy-now:hover {
  background-color: #388e3c;
}
