/* contact.css */
.contact-form-container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  margin-top: 25px;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.contact-form-container h2 {
  text-align: center;
  color: #00796b;
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 15px;
}

label {
  display: block;
  font-weight: bold;
}

input[type="text"],
input[type="email"],
textarea {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

textarea {
  resize: vertical;
  min-height: 150px;
}

button[type="submit"] {
  background-color: #00796b;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  align-items: center;
 
}

button[type="submit"]:hover {
  background-color: #004d40;
  align-items: center;
  margin: auto;
}

.thank-you-message {
  text-align: center;
  margin-top: 20px;
}

.thank-you-message p {
  font-size: 18px;
  color: #00796b;
}
